.c-container {
	border: 1px solid #d8dde6;
	margin: 0px 0 20px 0;
}
.large {
	height: 200px;
}

.bolded {
	font-weight: bold;
}
.padd-top {
	padding-top: 4px;
}
.padd-top-tribe-cpu {
	padding-top: 12px;
}