# This file is used for Git repositories to specify intentionally untracked files that Git should ignore. 
# If you are not using git, you can delete this file. For more information see: https://git-scm.com/docs/gitignore
# For useful gitignore templates see: https://github.com/github/gitignore

# cache
.sfdx/
.localdevserver/
.eslintcache
.pmdCache

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# javascript
*jsconfig.json

# Dependency directories
node_modules/
package-lock.json

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

#idea files
/.idea/
/IlluminatedCloud/
sf_crm.iml
cmss_crm.iml
/IlluminatedCloud/

#tmp folders for data import and deployments
scripts/apex/tmp/
log.txt
success.tmp
successSandbox.tmp
successScratchOrg.tmp
log/

# woarkarounds:
./cmss/main/default/objects/Task/fields/IsVisibleInSelfService.field-meta.xml
./cmss/main/default/objects/Account/fields/IsCustomerPortal.field-meta.xml

# homepage community:
./cmss/app/community/experiences/CSOB_Stavebni_Community1/views/home.json
out
